In [1]:
import pandas as pd
import os

In [2]:
path = 'D:\\workspace\\MRS\\Rating'
credits = pd.read_csv(path+'\\credits.csv',dtype=object)
keywords = pd.read_csv(path+'\\keywords.csv',dtype=object)
links = pd.read_csv(path+'\\links.csv',dtype=object)
movies_metadata = pd.read_csv(path+'\\movies_metadata.csv',dtype=object)
ratings = pd.read_csv(path+'\\ratings.csv',dtype=object)
ratings_small = pd.read_csv(path+'\\ratings_small.csv',dtype=object)

In [3]:
ratings
#rating là file chứa rating của user theo movieID

          userId movieId rating   timestamp
0              1     110    1.0  1425941529
1              1     147    4.5  1425942435
2              1     858    5.0  1425941523
3              1    1221    5.0  1425941546
4              1    1246    5.0  1425941556
...          ...     ...    ...         ...
26024284  270896   58559    5.0  1257031564
26024285  270896   60069    5.0  1257032032
26024286  270896   63082    4.5  1257031764
26024287  270896   64957    4.5  1257033990
26024288  270896   71878    2.0  1257031858

[26024289 rows x 4 columns]

In [4]:
(ratings['userId'].value_counts() == 1).sum()

5084

**Có khoảng 5000 user chỉ đánh giá 1 phim**