In [44]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('data.csv')
df = df.loc[0:2000]

In [47]:
df.head()

,title,year,rating,director,cast,genre,plot,language,budget,gross,...,sound_department,sound_mix,special_effects,special_effects_companies,stunts,synopsis,transportation_department,visual_effects,votes,writers
0,Miss Jerry,1894,5.9,[<Person id:0085156[http] name:_Alexander Blac...,[<Person id:0063086[http] name:_Blanche Baylis...,"['Short', 'Romance']",['The adventures of a female reporter in the 1...,['None'],none,none,...,NaN,['Silent'],NaN,NaN,NaN,NaN,NaN,NaN,191.0,[<Person id:0085156[http] name:_Alexander Blac...
1,The Story of the Kelly Gang,1906,6.1,[<Person id:0846879[http] name:_Charles Tait_>],[<Person id:0846887[http] name:_Elizabeth Tait...,"['Action', 'Adventure', 'Biography', 'Crime', ...","['Story of Ned Kelly, an infamous 19th-century...",['None'],"$2,250 (estimated)",none,...,NaN,['Silent'],NaN,NaN,NaN,NaN,NaN,NaN,737.0,[<Person id:0846879[http] name:_Charles Tait_>]
2,Den sorte drøm,1911,5.9,[<Person id:0300487[http] name:_Urban Gad_>],[<Person id:0003425[http] name:_Asta Nielsen_>...,['Drama'],"[""Two men of high rank are both wooing the bea...",['None'],none,none,...,NaN,['Silent'],NaN,NaN,NaN,NaN,NaN,NaN,218.0,"[<Person id:0300487[http] name:_Urban Gad_>, <..."
3,Cleopatra,1963,7.0,[<Person id:0000581[http] name:_Joseph L. Mank...,[<Person id:0000072[http] name:_Elizabeth Tayl...,"['Biography', 'Drama', 'History', 'Romance']",['Queen Cleopatra VII of Egypt experiences bot...,['English'],"$31,115,000 (estimated)","$71,777,778",...,[<Person id:0179331[http] name:_James Corcoran...,"['70 mm 6-Track::(70 mm prints)', '4-Track Ste...",[<Person id:0096611[http] name:_Johnny Borgese...,NaN,"[<Person id:0042500[http] name:_Ray Austin_>, ...",['The movie opens in 48 B.C. shortly after the...,[<Person id:2170613[http] name:_Frank Khoury_>],"[<Person id:0008004[http] name:_L.B. Abbott_>,...",31526.0,[<Person id:0000581[http] name:_Joseph L. Mank...
4,Torment,1994,7.1,[<Person id:0001031[http] name:_Claude Chabrol_>],[<Person id:0000322[http] name:_Emmanuelle Béa...,"['Crime', 'Drama', 'Thriller']","[""Paul, an irritable and stressed-out hotel ma...",['French'],none,none,...,[<Person id:2694170[http] name:_Jean-Marie Bel...,"['Dolby SR', 'Stereo']",NaN,NaN,NaN,NaN,NaN,NaN,4936.0,[<Person id:0001031[http] name:_Claude Chabrol...

In [48]:
df.columns

Index(['title', 'year', 'rating', 'director', 'cast', 'genre', 'plot',
       'language', 'budget', 'gross', 'runtime', 'akas',
       'animation_department', 'art_department', 'art_directors',
       'aspect_ratio', 'assistant_directors', 'box_office',
       'camera_department', 'canonical_title', 'casting_department',
       'casting_directors', 'certificates', 'cinematographers', 'color_info',
       'composers', 'costume_departmen', 'costume_designers', 'countries',
       'country_codes', 'cover_url', 'distributors', 'editorial_department',
       'editors', 'full_size_cover_url', 'kind', 'language_codes',
       'location_management', 'long_imdb_canonical_title', 'long_imdb_title',
       'make_up_department', 'miscellaneous', 'music_department',
       'original_air_date', 'other_companies', 'plot_outline', 'producers',
       'production_companies', 'production_designers', 'production_managers',
       'script_department', 'set_decorators', 'smart_canonical_title',
       'smart_long_imdb_canonical_title', 'sound_department', 'sound_mix',
       'special_effects', 'special_effects_companies', 'stunts', 'synopsis',
       'transportation_department', 'visual_effects', 'votes', 'writers'],
      dtype='object')

In [53]:
# df['genre'] = df['genre'].apply(apply_genre)
# mlist = []
# for i in range(len(df)):
#     mlist.extend(df.loc[i,'genre'])
# list(set(mlist))
# y = pd.get_dummies(df.genre, prefix = 'Genre')

In [54]:
def get_director_id(s):
    s1 = s
    s2 = 'Person id:'
    start = s1.index(s2) + len(s2)
    if s1[start:start+7].isnumeric():
        return s1[start:start+7]
    else:
        return np.nan

def get_director_name(s):
    s1 = s
    s2 = 'name:_'
    s3 = '_>]'
    start = s1.index(s2) + len(s2)
    end = s1.index(s3)
    try:
        return s1[start:end]
    except:
        return np.nan
    
def find(s, ch):
    l = []
    i = s.find(ch)
    while i!= -1:
        l.append(i)
        i = s.find(ch,i+1)
    return l

def get_cast_ids(s):
    start = find(s, '<Person id:')
    end = find(s, '[http]')
    id_list = []
    for i in range(len(end)):
        id_list.append(s[start[i]+11:end[i]])
    return id_list

def get_cast_names(s):
    start = find(s, 'name:_')
    end = find(s, '_>')
    name_list = []
    for i in range(len(end)):
        name_list.append(s[start[i]+6:end[i]])
    return name_list

def get_budget(s):
    start = s.find('$')
    end = s.find(' ')
    return int(s[start+1:end].replace(',',''))

def apply_genre(s):
    s = s.replace('\'','').replace('[','').replace(']','').split(sep = ', ')
    return s

# def get_genre(s):
#     s = df.loc[i]

In [55]:
for i in df.index:
    s = df.loc[i,'director']
    try:
        df.loc[i,'director_name'] = get_director_name(s)
    except:
        df.loc[i,'director_name'] = np.nan
    try:
        df.loc[i,'director_id'] = get_director_id(s)
    except:
        df.loc[i,'director_name'] = np.nan
        
    s = df.loc[i,'cast']
    try:
        df.loc[i,'cast_names'] = [[get_cast_names(s)]]
    except:
        df.loc[i,'cast_names'] = np.nan
    try:
        df.loc[i,'cast_ids'] = [[get_cast_ids(s)]]
    except:
        df.loc[i,'cast_names'] = np.nan
        
    s = df.loc[i,'budget']
    try:
        df.loc[i,'budget_int'] = get_budget(s,i)
    except:
        df.loc[i,'budget_int'] = np.nan

In [67]:
df['genre'] = df['genre'].apply(apply_genre)

In [74]:
df['genre']

mlist = []
for i in range(len(df)):
    mlist.extend(df.loc[i,'genre'])
list(set(mlist))

['Drama',
 'Thriller',
 'Family',
 'Short',
 'Animation',
 'War',
 'Romance',
 'Reality-TV',
 'Comedy',
 'Music',
 'Biography',
 'History',
 'Horror',
 'Documentary',
 'Mystery',
 'Film-Noir',
 'Action',
 'Fantasy',
 'Sci-Fi',
 'Sport',
 'Crime',
 'Western',
 'Musical',
 'Adventure']

In [75]:
df['genre']

0                                        [Short, Romance]
1       [Action, Adventure, Biography, Crime, Drama, H...
2                                                 [Drama]
3                    [Biography, Drama, History, Romance]
4                                [Crime, Drama, Thriller]
                              ...
1996                                    [Comedy, Musical]
1997                                             [Comedy]
1998                                              [Drama]
1999                [Action, Adventure, Romance, Western]
2000                                             [Comedy]
Name: genre, Length: 2001, dtype: object

In [57]:
s = df['cast'][0]
start = find(s, 'name:_')
end = find(s, '_>')
id_list = []
for i in range(len(end)):
    id_list.append(s[start[i]+6:end[i]])
id_list

['Blanche Bayliss', 'William Courtenay', 'Chauncey Depew']

In [153]:
l = find(df['cast'][0],'[<')

68967

In [86]:
pd.DataFrame([[get_cast_names(s)]])

                                                   0
0  [Blanche Bayliss, William Courtenay, Chauncey ...